@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Sans Pro", sans-serif;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 0 8px 2px rgb(20, 20, 20);
    background: #111;
    color: white;
    z-index: 2;
    transition: 1s;
}

.showcase.active {
    right: 100px;

}

html {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    overflow-x: hidden;
}

.navvy {
    position: relative;
    width: 100%;
    max-height: 500px;
    /* Prevents excessive downward movement */
    margin-top: 50px;
    /* Moves the iframe closer to the nav bar */
}

nav.navvy {
    text-align: center;
    background-color: rgba(133, 127, 127, 0.281);
    margin-bottom: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 3px 13px rgba(162, 0, 255, 0.493);
}

nav.navvy {
    list-style: none;
    padding-top: 5px;
}

nav.navvy ul li {
    display: inline;
    padding-right: 20px;
}

nav.navvy ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 3px 13px rgb(0, 0, 0);

}

nav.navvy ul li a:hover {
    transform: scale(1.1);
    color: rgb(22, 196, 202);
}

.showcase header {
    position: relative;
    scroll-snap-align: start;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000;

    align-items: left;
    justify-content: space-between;
    margin-bottom: 10px;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: inherit;
    color: inherit;
    left: 0;



}

h2 a:hover {
    color: rgb(22, 196, 202);
}

/* socials */
.social {
    position: fixed;
    bottom: 20px;
    left: 5px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.icon {

    height: 1.27cm;
    width: 1.27cm;


}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;

}

.social li a:hover {
    transform: scale(1) translateY(-15px);
}

/* toggles */
.toggle {
    position: fixed;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background: url(images/menu.png);
    filter: invert(1);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    cursor: pointer;

}

.toggle.active {
    width: 60px;
    height: 60px;
    background: url(images/1549612.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    cursor: pointer;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}



.text {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;

}

.text h3 {
    font-size: 3em;
    font-weight: 600;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.3em;
    margin: 20px 0;
    font-weight: 300;
    max-width: 500px;
}

/* link ffff*/
.text a {
    display: inline-block;
    font-size: 1em;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 5px;
}


.menu {
    position: fixed;
    background: url(images/crop.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    text-align: center;
    position: relative;
    list-style: none;
    height: 100%;

}

.menu ul li {
    position: relative;

    padding-top: 100%;
}

.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 3px 13px rgb(0, 0, 0);

}

.menu ul li a:hover {
    transform: scale(1.1);
    color: rgb(22, 196, 202);
}

.menu a.donate {
    position: absolute;
    bottom: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 3px 13px rgb(0, 0, 0);
}

.menu a.donate:hover {
    transform: scale(1.1);
    color: rgb(22, 196, 202);
}



.container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.instagram-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: relative;

}

.instagram-post {
    width: 100%;
    max-width: 550px;
    border-radius: 10px;
    box-shadow: 0 5px 12px rgba(162, 6, 209, 0.479);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 16px;
    margin-bottom: 16px;
    border: purple solid 2px;
}

.instagram-media {
    width: 100%;
    height: 800px;
}









@media (max-width: 768px) {

    .instagram-gallery {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns for smaller screens */
    }

    .iframe {
        max-height: 300px;
        margin-top: 20px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    .instagram-gallery {
        grid-template-columns: 1fr;
        /* 1 column for mobile screens */
    }
}
